<!DOCTYPE html>
<html>
  
  <body>
    <div class="librarian-page">
      <img class="image-5-icon" alt="" src="./assets/images/logo.png" />

      <section class="branch-node">
        <div class="leaf-node">
          <div class="parent-node" id="parentNode"></div>
          <div class="sibling-nodes">
            <div class="child-nodes">
              <div class="child-nodes-child"></div>
              <img
                class="image-38-icon"
                loading="lazy"
                alt=""
                src="./assets/images/log1o.png"
              />
            </div>
          </div>
          <div class="isolated-node">
            <div class="wrapper-image-4">
              <img
                class="image-4-icon"
                loading="lazy"
                alt=""
                src="./assets/images/logo.png"
              />
            </div>
          </div>
          <div class="descendant-nodes">
            <h1 class="library-management-system">Library Management System</h1>
          </div>
        </div>
      </section>
      <section class="siblings-and-children">
        <div class="ancestors-and-descendants">
          <h1 class="acount-management">Acount Management</h1>
          <div class="disconnected-nodes">
            <div class="subtree-nodes">
              <div class="rooted-tree">
                <button class="unrooted-tree">
                  <div class="unrooted-tree-child"></div>
                  <div class="librarian">Librarian</div>
                </button>
                <button class="unrooted-tree1">
                  <div class="unrooted-tree-item"></div>
                  <div class="borrower">Borrower</div>
                </button>
                <button class="unrooted-tree2">
                  <div class="unrooted-tree-inner"></div>
                  <div class="librarian-aide">Librarian Aide</div>
                </button>
              </div>
            </div>
            <div class="binary-search-tree">
              <img
                class="binary-search-tree-child"
                alt=""
                src="./public/rectangle-35.svg"
              />

              <div class="a-v-l-tree">
                <h2 class="search">Search</h2>
              </div>
              <img
                class="material-symbols-lightsearch-icon"
                loading="lazy"
                alt=""
                src="./public/materialsymbolslightsearch.svg"
              />
            </div>
          </div>
        </div>
      </section>
      <section class="hash-table">
        <div class="queue">
          <div class="stack">
            <div class="linked-list">
              <div class="weighted-graph">
                <div class="adjacency-matrix">
                  <div class="adjacency-list">
                    <div class="name">Name :</div>
                  </div>
                  <input
                    class="adjacency-matrix-child"
                    placeholder="La Rhaine Rabino"
                    type="text"
                  />
                </div>
              </div>
              <div class="circular-linked-list">
                <div class="id-number">ID Number :</div>
                <div class="edge-nodes">
                  <div class="directed-graph"></div>
                  <input
                    class="undirected-graph"
                    placeholder="295340"
                    type="text"
                  />
                </div>
              </div>
              <div class="password-parent">
                <div class="password">Password:</div>
                <div class="rectangle-parent">
                  <div class="frame-child"></div>
                  <div class="div">05/23/2023</div>
                </div>
              </div>
              <div class="circular-linked-list1">
                <div class="email">Email:</div>
                <div class="rectangle-group">
                  <div class="frame-item"></div>
                  <div class="div1">05/25/2023</div>
                </div>
              </div>
              <div class="frame-parent">
                <div class="contact-wrapper">
                  <div class="contact">Contact:</div>
                </div>
                <div class="rectangle-container">
                  <input class="frame-inner" type="text" />

                  <div class="div2">3</div>
                </div>
              </div>
            </div>
            <div class="stack-inner">
              <div class="data-aggregator-parent">
                <button class="data-aggregator">
                  <div class="data-aggregator-child"></div>
                  <div class="add">Add</div>
                </button>
                <div class="input-processor">
                  <h2 class="cancel">Cancel</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tree-structure">
          <div class="condition-checker">
            <div class="function-caller">
              <div class="variable-holder">
                <div class="error-handler">
                  <div class="sequence-controller"></div>
                  <b class="name1">Name</b>
                </div>
              </div>
              <div class="data-filter">
                <div class="data-transformer">
                  <div class="data-merger"></div>
                  <b class="id-number1">ID Number</b>
                </div>
              </div>
              <div class="data-sorter">
                <div class="data-finder">
                  <div class="data-creator"></div>
                  <b class="password1">Password</b>
                </div>
              </div>
              <div class="variable-holder1">
                <div class="frame-div">
                  <div class="rectangle-div"></div>
                  <b class="email1">Email</b>
                </div>
              </div>
              <div class="variable-holder2">
                <div class="rectangle-parent1">
                  <div class="frame-child1"></div>
                  <b class="contact1">Contact</b>
                </div>
              </div>
              <div class="data-deleter">
                <div class="data-protector"></div>
                <b class="actions">Actions</b>
              </div>
            </div>
          </div>
          <div class="loop-control"></div>
          <div class="loop-control1"></div>
          <div class="loop-control2"></div>
          <div class="loop-control3"></div>
          <div class="loop-control4"></div>
          <div class="data-receiver">
            <div class="data-sender">
              <div class="data-linker">
                <div class="la-rhaine-rabino">La Rhaine Rabino</div>
              </div>
              <div class="data-visualizer">
                <div class="data-storage">295340</div>
              </div>
              <div class="data-retriever">
                <div class="data-compressor">05/23/2023</div>
                <div class="data-expander">
                  <div class="data-encoder">05/25/2023</div>
                </div>
              </div>
              <div class="data-decoder">
                <div class="data-decryptor">0921273476</div>
                <div class="data-encryptor"></div>
                <div class="data-encryptor1"></div>
              </div>
              <div class="data-validator">
                <div class="data-verifier">
                  <div class="edit">Edit</div>
                  <div class="delete">Delete</div>
                </div>
              </div>
            </div>
            <div class="data-security">
              <div class="data-backup">
                <div class="la-rhaine-rabino1">La Rhaine Rabino</div>
              </div>
              <div class="data-backup1">
                <div class="div3">295340</div>
              </div>
              <div class="data-transfer">
                <div class="data-sync">
                  <div class="data-queue">
                    <input class="data-stack" type="text" />

                    <div class="data-heap">05/23/2023</div>
                  </div>
                  <div class="data-pool">
                    <div class="data-stream">05/25/2023</div>
                  </div>
                </div>
              </div>
              <div class="data-frame">
                <div class="div4">0921273476</div>
                <div class="data-matrix"></div>
                <div class="data-matrix1"></div>
              </div>
              <div class="data-security-inner">
                <div class="edit-parent">
                  <div class="edit1">Edit</div>
                  <div class="delete1">Delete</div>
                </div>
              </div>
            </div>
            <div class="frame-group">
              <div class="la-rhaine-rabino-wrapper">
                <div class="la-rhaine-rabino2">La Rhaine Rabino</div>
              </div>
              <div class="wrapper">
                <div class="div5">295340</div>
              </div>
              <div class="parent">
                <div class="div6">05/23/2023</div>
                <div class="div7">05/25/2023</div>
              </div>
              <div class="group">
                <div class="div8">0921273476</div>
                <div class="frame-child2"></div>
                <div class="frame-child3"></div>
              </div>
              <div class="frame-wrapper">
                <div class="edit-group">
                  <div class="edit2">Edit</div>
                  <div class="delete2">Delete</div>
                </div>
              </div>
            </div>
            <div class="frame-container">
              <div class="frame-wrapper1">
                <div class="frame-parent1">
                  <div class="frame-parent2">
                    <div class="la-rhaine-rabino-parent">
                      <div class="la-rhaine-rabino3">La Rhaine Rabino</div>
                      <div class="container">
                        <div class="div9">295340</div>
                      </div>
                    </div>
                    <div class="frame-wrapper2">
                      <div class="la-rhaine-rabino-group">
                        <div class="la-rhaine-rabino4">La Rhaine Rabino</div>
                        <div class="frame">
                          <div class="div10">295340</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="frame-parent3">
                    <div class="frame-parent4">
                      <div class="la-rhaine-rabino-container">
                        <div class="la-rhaine-rabino5">La Rhaine Rabino</div>
                      </div>
                      <div class="la-rhaine-rabino-parent1">
                        <div class="la-rhaine-rabino6">La Rhaine Rabino</div>
                        <div class="la-rhaine-rabino7">La Rhaine Rabino</div>
                      </div>
                    </div>
                    <div class="frame-parent5">
                      <div class="wrapper1">
                        <div class="div11">295340</div>
                      </div>
                      <div class="div12">295340</div>
                      <div class="div13">295340</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-parent6">
                <div class="frame-parent7">
                  <div class="rectangle-parent2">
                    <input class="rectangle-input" type="text" />

                    <div class="div14">05/23/2023</div>
                  </div>
                  <div class="parent1">
                    <div class="div15">05/23/2023</div>
                    <div class="frame-parent8">
                      <div class="rectangle-parent3">
                        <input class="frame-child4" type="text" />

                        <div class="div16">05/23/2023</div>
                      </div>
                      <div class="data-aggregator1">
                        <div class="condition-splitter">05/23/2023</div>
                      </div>
                      <div class="rectangle-parent4">
                        <input class="frame-child5" type="text" />

                        <div class="div17">05/23/2023</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="value-filter">
                  <div class="text-parser">
                    <div class="number-formatter">
                      <div class="date-handler">05/25/2023</div>
                    </div>
                    <div class="image-processor">0921273476</div>
                  </div>
                  <div class="list-creator">
                    <div class="function-caller1">
                      <div class="loop-controller">05/25/2023</div>
                    </div>
                    <div class="variable-holder3">0921273476</div>
                  </div>
                  <div class="input-collector">
                    <div class="output-processor">
                      <div class="error-handler1">
                        <div class="if-statement">05/25/2023</div>
                      </div>
                      <div class="else-statement">0921273476</div>
                    </div>
                    <div class="while-loop">
                      <div class="for-loop">05/25/2023</div>
                      <div class="switch-case">
                        <div class="try-block">0921273476</div>
                      </div>
                    </div>
                  </div>
                  <div class="catch-block">
                    <div class="finally-block">05/25/2023</div>
                    <div class="finally-block1">0921273476</div>
                  </div>
                </div>
                <div class="function-definition">
                  <div class="variable-declaration">
                    <div class="return-statement">
                      <div class="assignment-operator"></div>
                      <div class="edit3">Edit</div>
                    </div>
                    <div class="delete3">Delete</div>
                  </div>
                  <div class="variable-declaration1">
                    <div class="rectangle-parent5">
                      <div class="frame-child6"></div>
                      <div class="edit4">Edit</div>
                    </div>
                    <div class="delete4">Delete</div>
                  </div>
                  <div class="variable-declaration2">
                    <div class="rectangle-parent6">
                      <div class="frame-child7"></div>
                      <div class="edit5">Edit</div>
                    </div>
                    <div class="delete5">Delete</div>
                  </div>
                  <div class="arithmetic-operator">
                    <div class="string-operator">
                      <div class="array-operator">
                        <div class="object-operator"></div>
                        <div class="edit6">Edit</div>
                      </div>
                      <div class="delete6">Delete</div>
                    </div>
                    <div class="string-operator1">
                      <div class="rectangle-parent7">
                        <div class="frame-child8"></div>
                        <div class="edit7">Edit</div>
                      </div>
                      <div class="delete7">Delete</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <img
            class="tree-structure-child"
            alt=""
            src="./public/rectangle-24.svg"
          />
        </div>
      </section>
    </div>

    <script>
      var parentNode = document.getElementById("parentNode");
      if (parentNode) {
        parentNode.addEventListener("click", function (e) {
          // Please sync "Librarian" to the project
        });
      }
      </script>
  </body>
</html>
